.wrapper {
  display: grid;
  grid-template-areas: "login        signIn"
                       "loginForm loginForm";
  border: 2px solid darkgray;
  width: 50%;
}

.tab_login {
  border-bottom: 2px solid gray;
  color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  grid-area: login;
  height: 50px;
  &__active {
    background-color: white;
    color: black;
  }
}

.tab_signIn {
  @extend .tab_login;
  grid-area: signIn;
  &__active {
    background-color: white;
    color: black;
  }
}

.formContainer {
  grid-area: loginForm;
}