.wrapper {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.wrapper:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 3px black;
}

.withOutHover:hover {
  transform: none;
  box-shadow: none;
}