.wrapper {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
}

.outer_wrapper {
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  min-height: calc(100vh - 160px);
  width: 100%;
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.back_button {
  background-color: blue;
  border-radius: 5px;
  color: white;
  display: block;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all;
  height: 35px;
  width: 100px;

  &:hover {
    box-shadow: 1px 1px 1px black;
    transform: scale(1.005);
  }

  &:active {
  }

  transform: scale(0.95);
  box-shadow: none;
}