.wrapper {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.wrapper:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 3px black;
}

.withOutHover {
  border: none;
}

.withOutHover:hover {
  cursor: auto;
  transform: none;
  box-shadow: none;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.spacer {
  height: 35px;
}