.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
}

.backButton {
  background-color: blue;
  border-radius: 5px;
  display: block;
  color: white;
  line-height: 35px;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
  height: 35px;
  width: 185px;
}