.formWrapper {
  position: relative;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  width: 50%;
}

.extra_width {
  width: 100%;
}

.error {
  color: red;
  text-align: center;
}