.wrapper {
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  padding: 25px;
  transition: all 0.2s ease-in;
}

.wrapper:hover {
  box-shadow: 2px 2px 2px black;
  transform: scale(1.01);
}
.label {
  font-weight: bold;
  padding-right: 20px;
}