.wrapper {
  display: flex;
}

.items {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.extra_width {
  width: 100px;
}

.delete_button {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}