.formWrapper {
  position: relative;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  margin-bottom: 20px;
}

.extra_width {
  width: 100%;
}

.error {
  color: red;
  text-align: center;
}

.cancel_button {
  background: blue;
  border-radius: 5px;
  color: white;
  display: block;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  height: 35px;
  width: 100px;
}