.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  font-weight: bold;
  line-height: 35px;
  margin: 0;
  padding-right: 30px;
}

.text {
  margin: 0;
  line-height: 35px;
}

@media screen and (max-width: 600px){
  .header,.text {
    font-size: 14px;
  }
}