* {
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.App {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}